.tabs-container {
  background: #F2F2F2 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 7px;
  margin-bottom: 2px;
  padding-top: 40px;
  border-bottom: 2px solid #4D4D4D;

  &__block {
    gap: 2px;

    &__item {
      height: 40px;
      min-width: 165px;
      background: #D2D2D2 0% 0% no-repeat padding-box;
      cursor: pointer;

      font: normal normal bold 12px/14px Arial;
      letter-spacing: 0px;

      &:hover {
        background: #3A3A3A 0% 0% no-repeat padding-box;
        color: #FFFFFF;
      }
    }
  }
}

.active {
  background: #3A3A3A 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}