.table-container {
    &__headline {
        font: normal normal normal 10px/11px Arial;
        letter-spacing: 0px;
        color: #444444;
    }

    &__btn {
        outline: none;
        border: none;
        padding: 7px 19px;
        text-transform: uppercase;
        background: #7D869A 0% 0% no-repeat padding-box;
        font: normal normal normal 12px/14px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
    }

    th {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 15px;
        border-bottom: 1px solid #D8D8D8;;
    }

    th:first-child {
        padding-left: 10px;
        padding-right: 0;
    }

    td {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 15px;
        border-bottom: 1px solid #95989A;
    }

    td:first-child {
        padding-left: 10px;
        padding-right: 0;
    }
}


.table-subject {
    gap: 6px;
    letter-spacing: 0px;
    color: #333333;

    &__headline {
        font: normal normal normal 16px/22px Open Sans;
    }

    &__des {
        font: normal normal normal 14px/19px Open Sans;
    }
}

.cursor {
    cursor: pointer;
}